.planner-editor {
  &.gform_wrapper .gfield--label-inline {
    margin-bottom: 0;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 4px;
  }
}