@use '@patter/patter-core-styles/scss/independent-styles-setup';
@use '@patter/patter-core-styles/scss/main';
@use '@patter/patter-core-styles/scss/wordpress-public';

@use 'styles/base/typography';

// Components (generic reusable pieces)
// @import 'styles/components/buttons';
@use 'styles/components/tables';

// Feature styles (scoped by feature area)
@use 'styles/features/planner';

:root {
  --app--color--background: #FAF9F7;

  // Patter setup
  --wp--preset--font-family--body-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  --wp--preset--color--primary: #272e3e;
  --wp--preset--color--secondary: #FFBC00;
  --wp--preset--color--light: #f4f4f4;
  --wp--preset--color--dark: #1F1F1F;

  --wp--custom--color--primary-text: var(--wp--preset--color--white);
  --wp--custom--color--primary-hover-text: var(--wp--preset--color--white);
  --wp--custom--color--primary-hover: #475370;

  --wp--custom--color--border: #e1e5ea;
  --wp--custom--default-border-radius: 6px;
  --wp--style--global--content-size: 600px;

  --wp--custom--content--button-input-padding-y: 0.5rem;
  --wp--custom--content--button-input-padding-x: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --app--color--background: #1F1F1F;
    --wp--preset--color--dark: #FAF9F7;
    --wp--preset--color--primary: #2C3544;
  }

  form:where(:not(.wc-block-components-form)) input:where(:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=file])),
  form:where(:not(.wc-block-components-form)) textarea,
  form:where(:not(.wc-block-components-form)) select {
    background-color: #2A2A2A;
    color: var(--wp--preset--color--dark);
  }

  .is-style-outline .wp-block-button__link {
    border-color: var(--wp--preset--color--primary);
    color: var(--wp--preset--color--dark);
  }

  input {
    color-scheme: dark;
  }
}